body {
        font-family: Arial, Helvetica, sans-serif;
        color: #666;
        padding: 24px;
        max-width: 1024px;
        margin: auto;
}

.block {
        background: #eee;
        padding: 16px;
        border-radius: 6px;
        margin: 0 12px 12px 0;
}

.subscriberList {
        display: flex;
        flex-wrap: wrap;
}

h1 img.favicon {
        width: 24px;
        height: auto;
        vertical-align: baseline;
}

.subscriber {
        width: 100px;
        height: 130px;
}

.subscriber:hover {
        background: #ddd;
}

#subscriberView form input {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 12px;
        padding: 6px;
}

#subscriberView form button {
        padding: 6px;
}

.subscriberList a {
        text-decoration: none;
        color: #666;
}

.subscriber img {
        width: 100px;
        height: 100px;
        object-fit: cover;
}

.subscriberTitle {
        width: auto;
        text-align: center;
        font-weight: bold;
        padding: 12px 0;
}

.result {
        display: flex;
        align-items: top;
        margin-bottom: 12px;
}

.resultImage img {
        width: 100px;
        height: auto;
        margin-right: 12px;
        border-radius: 6px;
}

.resultDetails {
        flex: 1;
}

.resultDetails * a {
        text-decoration: none;
        color: #444;
}
.resultDetails * a:hover {
        text-decoration: underline;
}

.resultDetails div {
        margin-bottom: 6px;
}

.resultTitle {
        font-weight: bold;
        text-decoration: none;
}

.resultAuthor {
        text-decoration: none
}

.resultFeedHidden {
        display: none;
}

.resultGenre span {
        display: inline-block;
        border-radius: 3px;
        background: #ddd;
        border: 1px solid #ccc;
        padding: 3px 6px;
        font-size: 80%;
}